body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #008000;
    text-align: center;
    padding: 20px 0;
}

main {
    justify-content: space-between;
    padding: 20px;
}

.cart-items ul {
    list-style-type: none;
    padding: 0;
}

.cart-items li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-total h2 {
    margin-bottom: 20px;
}

button {
    background-color: #008000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.cart-items {
    width: 100%;
}

.cart-total {
    text-align: center; /* Align the content to center */
    margin-top: 20px; /* Add some top margin for better spacing */
}

.cart-total h2 {
    margin-bottom: 20px;
}

button {
    background-color: #008000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.cart-items {
    width: 100%;
}



.footer p{
    padding-left: 45%;
    bottom: 0;
}

.logo {
    text-decoration: none;
    color: #212529;
    font-size: 1.5rem;
    font-weight: bold;
}

.copyright span {
    margin-left: 20px;
}


.rowSearchResults3 {
    height: 15vh;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #dee2e6;
}

.logo {
    text-decoration: none;
    color: #212529;
    font-size: 1.5rem;
    font-weight: bold;
}

.copyright span {
    margin-left: 20px;
}